@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto);
form {
  text-align: center;
}

.thumb {
  text-align: center;
}

h1 {
  font-family: lobster;
  font-weight: bold;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 12px;
}

a,
a:hover,
a:focus {
  text-decoration: none !important;
  color: black;
}

.border {
  margin: 10px;
  padding: 20px;
  border: #ccc 1px solid;
  border-radius: 10px;
}

.container {
  margin-bottom: 30px;
}

.container>a {
  display: block;
}

p {
  font-family: arial;
  font-size: 13px;
  color: #545454;
}

textarea:focus,
input:focus,
.uneditable-input:focus,
.border:hover {
  border-color: rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 23, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6) !important;
  outline: 0 none !important;
}

img {
  padding-right: 25px;
}

.form-inline {
  margin-bottom: 15px;
}

.btn {
  background-color: #666666;
  color: white;
}

.btn:hover,
.btn:focus {
  background-color: #333;
  color: white;
}